.menu-bar {
    -fx-background-color: #DD5555;
}
.menu {
    -fx-font: 16px "Serif";
    -fx-background-color: #BBCCDD;
}
.menu:focused {
    -fx-background-color: #DD5555;
}
.menu-item:focused {
     -fx-background-color: #DD5555;
}
.menu-item {
    -fx-background-color:#BBCCDD;
}
